<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<h1>Updatebook#index</h1>
<p>Find me in app/views/updatebook/index.html.erb</p>


<%= form_tag('/bookupdated', :method=>'post') do %>
 
   <div class="form-group col-sm-12">
    <label>ID:</label>
    <%= text_field_tag "ID",params[:id],placeholder:"ID",class:"form-control",readonly: "true"%>
  </div>
  <div class="form-group col-sm-12">
    <label>Author:</label>
    <%= text_field_tag "Author",params[:Author],placeholder:"Author",class:"form-control"%>
  </div>

  <div class="form-group col-sm-12">
   <label for="code">Description:</label>
    <%= text_field_tag "Description",params[:Description],placeholder:"Description",class:"form-control"%>
  </div>

  <div class="form-group col-sm-12">
   <label for="code">ISBN:</label>
    <%= text_field_tag "ISBN",params[:ISBN],placeholder:"ISBN",class:"form-control"%>
  </div>

  <div class="form-group col-sm-12">
   <label for="code">Title:</label>
    <%= text_field_tag "Title",params[:Title],placeholder:"Title",class:"form-control"%>
  </div>

  <div class="form-group col-sm-12">
   <label for="code">Image:</label>
    <%= text_field_tag "Image",params[:Image],placeholder:"Title",class:"form-control"%>
  </div>

  <br>
  <div class="form-group col-sm-12">
      <button class="btn btn-warning" value="submit">Update</button>
      <%= link_to 'Go to All Books Page',bookdetails_index_path,class:"btn btn-success" %>
  </div>

<% end %>